transformers>=4.26
fire>=0.2.1
requests>=2.22.0
tqdm>=4.32.2
torch>=1.11.0
tensorboard>=1.14.0
ipywidgets>=8.0.4
notebook>=6.5.2
numpy>=1.24.2
datasets>=2.4.0
matplotlib>=3.6.3
scikit-learn>=1.2.1
openai>=0.27.0
tensorflow-gpu==2.8.0
statsmodels>=0.14.0
gradio>=3.50
nltk>=3.8
scipy>=1.10
tokenizers>=0.14
fairscale>=0.4
sentencepiece>=0.1.95
accelerate>=0.24
bitsandbytes>=0.41.2